{% extends 'base.html' %} {% block content %}
<div
  class="container"
  style="display: flex; flex-direction: column; justify-content: center"
>
  <h1 style="padding: 20px 20px 20px 20px">{{list.title}}</h1>
  <ul class="list-group" style="width: 60vw; padding: 20px 20px 20px 20px">
    {% for todo in list.todo_set.all %}
    <li
      class="list-group-item"
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <span style="display: flex; gap: 5px"
        ><a
          class="link-secondary link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          href="{% url 'delete_todo' todo.id %}"
          >X</a
        >
        <p style="font-size: 120%">{{todo.content}}</p>
      </span>
      <p style="font-size: 80%; font-style: italic">
        added {{todo.date_added}}
      </p>
    </li>
    {% endfor %}
  </ul>

  <div class="card w-50" style="margin: 20px 20px 20px 20px">
    <div class="card-header" style="font-size: 120%; font-weight: bold">
      Add a new List Item
    </div>
    <div class="card-body">
      <form action="{% url 'create_todo' list.id %}" method="POST">
        {% csrf_token %}
        <!-- Render the inputs -->
        {{ todo_form.as_p }}
        <input type="submit" class="btn btn-primary" value="Add To Do" />
      </form>
    </div>
  </div>
</div>

{% endblock content %}
